__pycache__/
sample/labels/
sample/linear/
sample/mel/
sample/rainbow/
result_silic/audio/
result_silic/js/
result_silic/label/
result_silic/linear/
result_silic/rainbow/
dev/tempCodeRunnerFile.py
202*-*-*/
